<H1>Modes of communication</H1>
<ul>
    <li ng-repeat="ham in gc.hams | orderBy: 'name'">
        <a href="/#!/hams/{{ham._id}}">{{ham.name}}</a>
        <input type="button" value="delete" ng-click="gc.deleteMode(ham._id)">
    </li>
</ul>

<form name="gc.hamForm" ng-submit="gc.addMode()">
    To add a new game please fill in all the fields below:<BR/>
    Name: <input type="text" name="name" required ng-model="gc.newHamName"style="color:black"/><BR/>
    <!-- Type: <input type="text" name="type" required ng-model="gc.newHamType"style="color:black"/><BR/>
    Contests: <input type="text" name="contests" required ng-model="gc.newHamContests"style="color:black"/><BR/> -->
    
    <button type="submit" class="btn-success">Add Ham</button><BR/>
</form>