<H1>Games List {{getAllCtrl.title}}</H1>
<ul>
    <li ng-repeat="game in getAllCtrl.games">
        <a href="/#!/games/{{game._id}}">{{game.title}}</a>
        <input type="button" value="delete" ng-click="getAllCtrl.deleteGame(game._id)">
    </li>
</ul>

<form name="getAllCtrl.gameForm" ng-submit="getAllCtrl.addGame()">
    To add a new game please fill in all the fields below:<BR/>
    Title: <input type="text" name="title" required ng-model="getAllCtrl.newGameTitle"style="color:black"/><BR/>
    Price: <input type="text" name="price" required ng-model="getAllCtrl.newGamePrice"style="color:black"/><BR/>
    Year: <input type="text" name="year" required ng-model="getAllCtrl.newGameYear"style="color:black"/><BR/>
    Rating: <input type="text" name="rating" required ng-model="getAllCtrl.newGameRating"style="color:black"/><BR/>
    Minimum Number of Players: <input type="text" name="minPlayers" required ng-model="getAllCtrl.newGameMinPlayers"style="color:black"/><BR/>
    Maximum Number of Players: <input type="text" name="maxPlayers" required ng-model="getAllCtrl.newGameMaxPlayers"style="color:black"/><BR/>
    Minimum Recommended Player Age: <input type="text" name="minAge" required ng-model="getAllCtrl.newGameMinAge"style="color:black"/><BR/>
    Designer Name: <input type="text" name="designer" required ng-model="getAllCtrl.newGameDesigner"style="color:black"/><BR/>
    
    <button type="submit" class="btn-success">Add Game</button><BR/>
</form>