<H1>Modes of communication</H1>
<input type="text" name="searchKey" placeholder="Compunication Mode" ng-model=gc.key>
<input type="button" class="btn-primary" value="Search" ng-click="gc.searchHam()"><BR/>
<ul>
    <li ng-repeat="ham in gc.hams | orderBy: 'name'">
        <a href="/#!/hams/{{ham._id}}">{{ham.name}}</a>
        <!-- <input type="button" value="delete" ng-click="gc.deleteMode(ham._id)"> -->
    </li>
</ul>

<form ng-show="gc.isLoggedIn()" name="gc.hamForm" ng-submit="gc.addMode()">
    To add a new game please fill in all the fields below:<BR/>
    <label for="" style="width: 70px;">Name </label><br>
    <input type="text" name="name" required ng-model="gc.newHamName"style="color:black"/><BR/>
    <label for="" style="width: 70px;">Type </label><br>
    <input type="text" name="type" required ng-model="gc.newHamType"style="color:black"/><BR/>
    <label for="" style="width: 70px;">Contests</label><br>
    <input type="text" name="contests" required ng-model="gc.newHamContests"style="color:black"/><BR/>
    
    <button type="submit" class="btn-success">Add Ham</button><BR/>
</form>